<h1>All Albums</h1>

<div class="flex flex-wrap">
  {{#each (sort-by 'id' model) as |album|}}
    {{#link-to 'media.albums.album.index' album
      class='block w-32 mb-3 mr-3 no-underline text-grey-dark dim'}}
      <img src={{album.images.firstObject.url}}
        class='w-32 h-32 rounded border border-grey'>
      <p class='py-2 text-center leading-normal'>{{album.title}}</p>
    {{/link-to}}
  {{/each}}
</div>
