<div class="text-xs">
  {{#link-to 'posts' class='text-grey-dark uppercase no-underline dim'}}
    Blog posts
  {{/link-to}}
  <span class='text-grey-lighter'>
    &nbsp;/&nbsp;
  </span>
</div>

{{outlet}}
