@import './reset';
@import './tachyons';

body {
  overflow: hidden;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @extend .avenir;
}

.app-header {
  background: #2196f3;
  color: white;
  padding: 15px 20px;
  @extend .f4;
}

.app-main {
  // background: grey;
  flex-grow: 1;
  display: flex;
}

.side-panel {
  flex: 0 0 200px;
  background: #EEEEEE;
  border-right: 1px solid #ddd;

  a {
    @extend .db;
    color: #888;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #bbb;

    &.active {
      background: white;
      border-right: 5px solid #2196f3;
    }
  }
}

.center-panel {
  // background: red;
  flex-grow: 1;
  padding: 40px;
  overflow: scroll;
}

h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  // padding: 20px;
}

table {
  @extend .w-100;
  @extend .mt4;
  // display: flex;
  // flex-direction: column;
  border: 1px solid #ddd;
}

thead a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

tbody {

}

th {
  text-transform: uppercase;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}

td {
  border-top: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background: rgb(250,250,250);
}

.charts {
  width: 100%;
  display: flex;
}

.chart {
  // background-color: #eee;
  // border: 1px solid #ddd;
  flex: 1;
  height: 100%;
  // height: 30vh;
  padding: 0 20px;
}

.chart h2 {
  margin: 1em 0 2em;
  text-align: center;
  @extend .f5;
}

.tool-tip {
  background: black;
  color: white;
  padding: 7px;
  // border-radius: 4px;
  opacity: 0.8;
  font-size: 12px;
  margin-bottom: 13px;
  // box-sh
}

.tool-tip-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 9px solid black;
  position: absolute;
  opacity: 0.8;
  bottom: 4px;
  left: calc(50% - 5px);
}

rect {
  cursor: pointer;
  user-select: none;
}
