@import 'pod-styles';
@import './reset';
@import './tachyons';

body {
  overflow: hidden;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @extend .avenir;
}

.app-header {
  background: #2196f3;
  color: white;
  padding: 15px 20px;
  z-index: 1;
  @extend .f4;
}

.app-main {
  // background: grey;
  flex-grow: 1;
  display: flex;
}

.side-panel {
  flex: 0 0 200px;
  background: #EEEEEE;
  border-right: 1px solid #ddd;

  a {
    @extend .db;
    color: #888;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #bbb;

    &.active {
      background: white;
      border-right: 5px solid #2196f3;
    }
  }
}

.center-panel {
  flex-grow: 1;
  padding: 40px;
  overflow: scroll;
}

h1 {
  margin-top: 10px;
  margin-bottom: 30px;
}

table {
  @extend .w-100;
  @extend .mt4;
  border: 1px solid #ddd;
}

thead a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

th {
  text-transform: uppercase;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}

th:nth-child(1) { width: 30%; }
th:nth-child(2) { width: 20%; }
th:nth-child(3) { width: 20%; }
th:nth-child(4) { width: 15%; }
th:nth-child(5) { width: 15%; }

td {
  border-top: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background: rgb(250,250,250);
}
