@import 'pod-styles';
@import './reset';
@import './tachyons';


body {
  // overflow: hidden;
  @extend .lh-copy;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @extend .avenir;
}

.app-header {
  background: #2196f3;
  color: white;
  padding: 15px 20px;
  z-index: 1;
  @extend .f4;
}

.app-main {
  // background: grey;
  flex-grow: 1;
  display: flex;
}

.side-panel {
  flex: 0 0 200px;
  background: #EEEEEE;
  border-right: 1px solid #ddd;

  a {
    @extend .db;
    color: #888;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid #bbb;

    &.active {
      background: white;
      border-right: 5px solid #2196f3;
    }
  }
}

.center-panel {
  flex-grow: 1;
  padding: 40px;
  overflow: scroll;
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 {
  margin: 40px 0 20px;
  font-size: 24px;
}

table {
  @extend .w-100;
  @extend .mt4;
  // border: 1px solid #ddd;
}

thead, thead a {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

th {
  text-transform: uppercase;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}

th:nth-child(1) { width: 30%; }
th:nth-child(2) { width: 20%; }
th:nth-child(3) { width: 20%; }
th:nth-child(4) { width: 15%; }
th:nth-child(5) { width: 15%; }

td {
  // border-top: 1px solid #ddd;
}

tbody tr:hover {
  background: rgb(250,250,250);
}

.transition {
  transition: all 0.15s;
}

// tbody tr:nth-child(even) {
//   background: rgb(250,250,250);
// }

.link,
.link:link,
.link:hover,
.link:focus, {
  &, * {
    transition: none;
  }
}

.link:focus {
  outline: none;
}

.f8 {
  font-size: 10px;
}

.bullets {
  list-style: disc;
  margin-left: 30px;
}

.mla {
  margin-left: auto;
}

.no-events {
  pointer-events: none;
}

.no-transition {
  transition: none !important;
}

.vw-100 {
  width: 100vw;
}

@keyframes fadeUp {
  0% {
    opacity: 25%;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 25%;
    transform: translateY(80px);
  }
  100% {
    opacity: 25%;
    transform: translateY(80px);
  }

}

.fade-up-and-down {
  animation: fadeUp, fadeDown;
  animation-duration: 0.5s, 1s;
  animation-delay: 0s, 3s;
  animation-iteration-count: 1, 1;
}
