{{#ui-modal as |modal|}}

  <h1 class='text-grey-darkest text-2xl p-0 m-0'>
    Sign in to your account
  </h1>

  {{#ui-form onSubmit=(action "login") class='mt-6' as |form|}}

    {{#form.group as |group|}}
      <div class="mb-4">
        {{#group.label class="text-sm font-semibold block text-grey-darkest"}}
          Email
        {{/group.label}}

        {{group.input class="mt-1 p-2 border rounded w-full" placeholder="you@example.com"}}
      </div>
    {{/form.group}}

    {{#form.group as |group|}}
      <div class="mb-4">
        {{#group.label class="text-sm font-semibold block text-grey-darkest"}}
          Password
        {{/group.label}}

        {{group.input class="mt-1 p-2 border rounded w-full" type="password"}}
      </div>
    {{/form.group}}

    <div class="mt-4 text-right">
      {{#ui-button style="gray"}}
        Cancel
      {{/ui-button}}

      {{#form.submit}}
        Log in
      {{/form.submit}}
    </div>

  {{/ui-form}}

{{/ui-modal}}

{{ui-hooks
  did-insert=(action (mut application.isShowingNav) false)
  will-destroy=(action (mut application.isShowingNav) true)}}
