{{#ui-modal as |modal|}}

  <h1 class='text-grey-darkest text-2xl p-0 m-0'>
    Sign in to your account
  </h1>

  {{#ui-form onSubmit=(action "login") class='mt-6' as |form|}}

    <div class="mb-4">
      {{#form.label class="text-sm font-semibold block text-grey-darkest"}}
        Email

        {{form.input class="mt-1 p-2 border rounded w-full" placeholder="you@example.com"}}
      {{/form.label}}
    </div>

    <div class="mb-4">
      {{#form.label class="text-sm font-semibold block text-grey-darkest"}}
        Password

        {{form.input class="mt-1 p-2 border rounded w-full" type="password"}}
      {{/form.label}}
    </div>

    <div class="mt-4 text-right">
      {{#ui-button style="gray"}}
        Cancel
      {{/ui-button}}

      {{#form.submit}}
        Log in
      {{/form.submit}}
    </div>

  {{/ui-form}}


{{/ui-modal}}
