{{!-- Breadcrumbs --}}
<div class="text-xs">
  {{#link-to 'tags' class='no-underline text-grey-dark uppercase dim'}}
    Tags
  {{/link-to}}
  <span class='text-grey-lighter'>
    /
  </span>
</div>

<h1><strong>{{model.name}}</strong> posts</h1>

<ul class='bullets'>
  {{#each (sort-by 'date' model.posts) as |post|}}
    <li class='mb-2'>
      {{#link-to 'posts.post' post.id class='no-underline text-black dim'}}
        <em class='i'>{{post.title}}</em> by {{post.author}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
