<svg width='100%' height='100%'></svg>

{{isAnimating}}

{{#if highlightedBar}}
  {{#tether-dialog
    target=highlightedBar
    targetAttachment='top middle'
    attachment='bottom middle'}}
    <div class="tool-tip">
      <p>{{highlightedData.label}}: {{highlightedData.count}}</p>
    </div>
    <div class="tool-tip-arrow">
    </div>
  {{/tether-dialog}}
{{/if}}
