{{#ui-form onSubmit=(action "save") as |form|}}

  {{#form.label class="mb-2 text-grey block"}}
    my label
  {{/form.label}}

  {{form.input
    value=name
    placeholder="my input"
    class="mb-2 p-2 border rounded"}}

  <div class="mt-3">
    {{#form.submit}}
      Save
    {{/form.submit}}

    {{#ui-button style="gray" onClick=(action (mut name) "")}}
      Reset
    {{/ui-button}}
  </div>

{{/ui-form}}
