<div class="flex items-center pb-4 mb-2 border-b border-grey-light">
  <p class='text-grey-darker text-sm'>{{yield}}</p>
  <a {{action onClose}} href='#' class="
      ml-auto no-underline text-grey-darker text-xl opacity-50 glow">
    &times;
  </a>
</div>
