<li>
  <a {{action onClick}}
    href="#"
    class='
      flex items-center
      no-underline text-grey-dark p-2 rounded hover:bg-grey-lightest mb-2'>
    <span>
      {{yield}}
    </span>
    <span class='ml-auto text-sm'>
      {{#if selected}}
        {{fa-icon 'check'}}
      {{/if}}
    </span>
  </a>
</li>
