{{#if flashMessages.queue}}
  <div class="no-events fixed flex flex-column justify-end items-start z-999 vh-100 vw-100">
    {{#each flashMessages.queue as |flash|}}
      <div class="ml3 mb3 white bg-dark-gray pv3 ph4 shadow-4 br2 fade-up-and-down">
        {{flash.message}}
      </div>
    {{/each}}
  </div>
{{/if}}

<div class='app'>
  <header class='app-header'>
    Acme, Inc.
  </header>

  <main class='app-main'>
    <section class='side-panel'>
      {{#link-to 'dashboard'}}
        Dashboard
      {{/link-to}}
      {{#link-to 'posts'}}
        Blog posts
      {{/link-to}}
      {{#link-to 'tags'}}
        Tags
      {{/link-to}}
      {{#link-to 'media'}}
        Media
      {{/link-to}}
      {{#link-to 'comments'}}
        Comments
      {{/link-to}}
    </section>

    <section class='center-panel'>

      {{outlet}}

    </section>
  </main>
</div>
