{{#ui-modal onClose=(action on-cancel)}}

  <div class="mx-4 mt-4">
    <h1 class="text-2xl leading-normal mb-4 mt-0">
      Delete post?
    </h1>

    <p class="text-base leading-normal mb-16">
      Are you sure you want to delete {{post.title}}? This
      action cannot be undone.
    </p>

    <div class="flex justify-end items-center">
      {{#ui-button task=deletePost}}
        Delete post
      {{/ui-button}}
    </div>
  </div>

{{/ui-modal}}
