{{#if items}}
  <ul>
    {{#each items as |item|}}
      <li data-test-id="repository">{{item.name}} - ⭐️ {{item.stargazers_count}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>Loading repositories...</p>
{{/if}}
