<div class="w-3/5 mt-4">
  <div class="mb-4">
    <label class="text-sm font-semibold block text-grey-darkest">
      Title
    </label>
    {{input
      value=model.title
      class='w-full mt-1 p-2 border border-grey-lighter'}}
  </div>

  <div class="mb-4">
    <label class="text-sm font-semibold block text-grey-darkest">
      Body
    </label>
    {{textarea value=model.text rows=20
      class='mt-1 p-2 border border-grey-lighter w-full'}}
  </div>

  <div class="mt-4">
    {{#ui-button task=save data-test-id="save"}}
      Save
    {{/ui-button}}

    {{#ui-button onClick=(action "cancel") style="gray" data-test-id="save"}}
      Cancel
    {{/ui-button}}
  </div>

  {{#if save.last.isError}}
    <p class='mt-4 text-red' data-test-id="error">
      {{fa-icon 'exclamation-circle'}}
      Whoops - your post was not saved. Please try again!
    </p>
  {{/if}}
</div>
